#p1{
    background-color: yellow;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border:  2px solid black;
    text-align: center;
}

#p2{
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border:  2px solid black;
    text-align: center;
}

#p3{
    background-color: skyblue;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border:  2px solid black;
    text-align: center;
}

#p4{
    background-color: steelblue;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border:  2px solid black;
    text-align: center;
}