.nuevaClase{
    color: green;
    font-size: 25px;
}

.miClase1{
    color: red;
    font-size: 25px;
}
.miClase2{
    color: orange;
    font-size: 25px;
}
.miClase3{
    color: blue;
    font-size: 25px;
}

