#p1{
    background-color: yellow;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border:  2px solid black;
    text-align: center;
}

#p2{
    background-color: gray;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border:  2px solid black;
    text-align: center;
}